

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post{

  width: 200px;
  padding: 50px;
  border-radius:  5%;
  margin : 100px auto 0px auto;
  box-shadow: 5px 5px 20px grey
}

form {
  margin-top: 50px;
}


form > *{
  margin: 15px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

table td{
  border: 1px solid grey;
  padding: 10px;
}

td {
  margin-left: 10px;
}